

<table>
  <tr>
    <th>Customer Id</th>
    <th>Order Item</th>
    <th>Quantity</th>
    <th>Order Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer.orders.each do |order| %>
  <tr>
    <td><%= order.customer_id %></td>
    <td><%= order.orderitem %></td>
    <td><%= order.quantity %></td>
    <td><%= order.orderdate %></td>
    <td><%= link_to 'Show', customer_order_path(@customer,order) %></td>
    <td><%= link_to 'Edit', edit_customer_order_path(@customer,order) %></td>
    <td><%= link_to 'Destroy', customer_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Order', new_customer_order_path(@customer) %>

